
.weather-wrapper {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Shadows Into Light', cursive;
}

.app-wrapper {
    margin-top: 20px;
    border: 2px black solid;
    border-radius: 10px;
    padding: 35px;
    background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
    color:darkviolet;
   }

.search {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: black 1px solid;
}
.submit {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    border: black 1px solid;
}

.date {
    font-size: 25px;   
}
.city-name {
    font-size: 55px;   
}
.temp {
    font-size:65px; 
}

.temp-details {
    display: flex;  
}
.looks-like {
    font-size: 45px;
    position: relative;
    top: 12px;
    left: 10px;
}
.details {
    font-size: 25px;   
}